/* NullStyle */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

header, nav, aside, footer {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* --- */
@font-face {
  font-family: "raleway-grid";
  src: url("../fonts/RalewayRegular.woff2") format("woff2");
}

@font-face {
  font-family: "raleway-grid";
  src: url("../fonts/RalewayBold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "raleway-grid";
  src: url("../fonts/RalewayExtraBold.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "intro-grid";
  src: url("../fonts/IntroRegular.woff2") format("woff2");
}

body {
  position: relative;
  font-family: raleway-grid, sans-serif;
  font-size: 16px;
  line-height: 1.75;
  overflow-x: hidden;
  min-width: 320px;
  color: #333;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.header {
  position: relative;
  background-image: url(../../img/0-header.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #293A43;
  opacity: 0.92;
}

.header__content {
  z-index: 1;
  padding: 60px 20px;
  color: #fff;
  text-align: center;
}

.header__content h1 {
  font-size: 60px;
  font-family: intro-grid, sans-serif;
  margin: 20px 0;
  line-height: 1.5;
}

.header .button {
  margin: 10px;
}

.button {
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: #F0650D;
  padding: 10px 60px;
  font-size: 20px;
  font-weight: 800;
  border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  -webkit-transition: background-color .1s ease;
  transition: background-color .1s ease;
  cursor: pointer;
}

.button::after {
  content: '';
  position: absolute;
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
  height: 4px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  opacity: .18;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.button:focus, .button:hover {
  text-decoration: none;
  color: #fff;
}

.button:hover {
  background-color: #f37423;
}

.button:hover::after {
  opacity: .22;
}

.button:active {
  background-color: #d85b0c;
}

.button:active::after {
  opacity: .32;
}

.button-grey {
  background-color: #4B5A65;
}

.button-grey::after {
  background-color: #2a3339;
}

.button-grey:hover {
  background-color: #566774;
}

.button-grey:hover::after {
  opacity: 0.22;
}

.button-grey:active {
  background-color: #404d56;
}

.button-grey:active::after {
  opacity: 0.32;
}

.portfolio {
  padding: 10px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding-bottom: 60px;
}

.portfolio__item {
  position: relative;
  min-height: 32vh;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
  cursor: pointer;
}

.portfolio__item::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #293A43;
  opacity: 0.65;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.portfolio__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.portfolio__item span {
  position: relative;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
}

.portfolio__item:hover {
  color: #F0650D;
}

.portfolio__item:hover::before {
  opacity: .85;
}

.portfolio__item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.portfolio__item:nth-child(5) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.portfolio__item:nth-child(6) {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

.buttoncase {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.landing-section {
  padding: 80px 0;
}

.landing-section h2 {
  font-size: 34px;
  font-weight: 800;
  color: #293A43;
  line-height: 1.2;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-ready {
  background-color: #EDEDED;
}

.section-ready .container {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.section-ready__left {
  border-right: 1px solid #dadada;
}

.section-ready__left p {
  font-size: 18px;
  padding: 20px 60px 20px 0;
}

.section-ready__left h2 {
  margin-top: 0;
  margin-bottom: 40px;
}

.section-ready__right {
  padding-left: 40px;
}

.formsection {
  padding: 20px 0;
  background-color: #293A43;
}

.formsection input {
  background-color: #354a56;
}

.formsection form {
  gap: 20px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.formsection .button {
  font-size: 17px;
  padding: 13px;
  width: 100%;
}

input, textarea {
  border: 0;
  padding: 15px 20px;
  width: 100%;
  font-family: Arial, sans-serif;
  font-style: italic;
  outline: none;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

input:focus, textarea:focus {
  background-color: #EDEDED;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #507182;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #507182;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #507182;
}

input::placeholder, textarea::placeholder {
  color: #507182;
}

.section-blog h2 {
  margin-bottom: 45px;
}

.section-blog .buttoncase {
  padding-bottom: 0;
}

.blog-item {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.blog-item__link {
  background-color: #F7F7F7;
  text-decoration: none;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
  overflow: hidden;
}

.blog-item__link:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
}

.blog-item__link:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.blog-item__link:hover {
  background-color: #EDEDED;
}

.blog-item__link:hover h4 {
  color: #293A43;
}

.blog-item__link:hover img {
  -webkit-transform: scale(1.05) translateY(-6.5px);
          transform: scale(1.05) translateY(-6.5px);
}

.blog-item img {
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease;
}

.blog-item__content {
  padding: 20px;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #333;
}

.blog-item__content h4 {
  font-size: 18px;
  line-height: 1.3;
  font-weight: bold;
  color: #666;
  -webkit-transition: color .25s ease;
  transition: color .25s ease;
}

.blog-item__content p {
  margin-top: 20px;
  margin-bottom: 0;
}

.footer {
  padding: 60px 0;
  background-color: #1a242a;
  text-align: center;
  color: #4E5355;
}

.footer__logo {
  font-family: intro-grid, sans-serif;
  font-size: 22px;
  line-height: 1.16;
}

.footer__logo span {
  display: block;
  font-size: 27px;
  color: #707476;
}

.footer__copyright {
  font-size: 20px;
  font-weight: bold;
  color: #494D50;
  margin-top: 20px;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .blog-item {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .blog-item .buttoncase {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
  .blog-item__link:nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .blog-item__link:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header__content h1 {
    font-size: 50px;
    line-height: 1.3;
  }
  .button {
    font-size: 18px;
  }
  .buttoncase {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
  .portfolio {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .portfolio__item {
    min-height: 40vh;
    font-size: 16px;
  }
  .portfolio__item:nth-child(4) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
  .portfolio__item:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    grid-row: initial;
  }
  .portfolio__item:nth-child(6) {
    grid-column: initial;
    grid-row: initial;
  }
  .blog-item {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .blog-item .buttoncase {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header__content {
    padding: 40px 20px;
  }
  .landing-section {
    padding: 50px 0;
  }
  .landing-section h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 25px;
  }
  .section-ready .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .section-ready .container > div {
    padding: 0 8%;
  }
  .section-ready__left {
    border: none;
  }
  .section-ready__left p {
    padding: 20px 0;
  }
  .formsection form {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .blog-item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .blog-item .buttoncase {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .blog-item__link:nth-child(3) {
    grid-column: initial;
  }
  .blog-item__link:nth-child(4) {
    grid-column: initial;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header .button {
    width: 250px;
  }
  .header__content h1 {
    font-size: 40px;
  }
  .portfolio {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-bottom: 20px;
  }
  .portfolio__item {
    min-height: 50vh;
  }
  .portfolio__item:nth-child(1) {
    grid-column: initial;
  }
  .portfolio__item:nth-child(4) {
    grid-column: initial;
  }
  .portfolio__item:nth-child(5) {
    grid-column: initial;
  }
  .buttoncase {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .landing-section {
    padding: 20px 0;
  }
  .formsection form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .blog-item {
    padding-bottom: 20px;
  }
  .footer {
    padding: 40px 0;
  }
  .footer__copyright {
    margin-top: 10px;
  }
}

/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
