@font-face { 
	font-family: "raleway-grid"; 
	src: url("../fonts/RalewayRegular.woff2") format("woff2"); 
}

@font-face { 
	font-family: "raleway-grid"; 
	src: url("../fonts/RalewayBold.woff2") format("woff2"); 
	font-weight: bold;
}

@font-face { 
	font-family: "raleway-grid"; 
	src: url("../fonts/RalewayExtraBold.woff2") format("woff2"); 
	font-weight: 800;
}

@font-face { 
	font-family: "intro-grid"; 
	src: url("../fonts/IntroRegular.woff2") format("woff2"); 
}
