@import "_nullstyle";
@import "vars.scss";
@import "fonts.scss";

body {
	position: relative;
	font-family: raleway-grid, sans-serif;
	font-size: 16px;
	line-height: 1.75;
	overflow-x: hidden;
	min-width: 320px;
	color: #333;
}

.grid {
	display: grid;
}

.header {
	position: relative;
	background-image: url(../../img/0-header.jpg);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	align-content: center;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $dark;
		opacity: 0.92;
	}
	&__content {
		z-index: 1;
		padding: 60px $gutter;
		color: #fff;
		text-align: center;
		h1 {
			font-size: 60px;
			font-family: intro-grid, sans-serif;
			margin: 20px 0;
			line-height: 1.5;
		}
	}
	& .button {
		margin: 10px;
	}
}

.button {
	display: inline-block;
	border: none;
	color: #fff;
	text-decoration: none;
	background-color: $accent;
	padding: 10px 60px;
	font-size: 20px;
	font-weight: 800;
	border-radius: 2px;
	text-align: center;
	position: relative;
	outline: none;
	transition: background-color .1s ease;
	cursor: pointer;
	&::after {
		content: '';
		position: absolute;
		transition: background-color .2s ease;
		height: 4px;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: darken($accent, 50%);
		opacity: .18;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
	}
	&:focus, &:hover {
		text-decoration: none;
		color: #fff;
	}
	&:hover {
			background-color: lighten($accent, 5%);
		&::after {
			opacity: .22;
		}
	}
	&:active {
		background-color: darken($accent, 5%);
		&::after {
			opacity: .32;
		}
	}
}
.button-grey {
	background-color: $grey;
	&::after {
		background-color: darken($grey, 15%);
	}
	&:hover {
		background-color: lighten($grey, 5%);
		&::after {
			opacity: 0.22;
		}
	}
	&:active {
		background-color: darken($grey, 5%);
		&::after {
			opacity: 0.32;
		}
	}
}

.portfolio {
	padding: 10px;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	padding-bottom: 60px;
	&__item {
		position: relative;
		min-height: 32vh;
		color: #fff;
		font-size: 20px;
		font-weight: bold;
		transition: color .5s ease;
		cursor: pointer;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: $dark;
			opacity: 0.65;
			transition: opacity .5s ease;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
		}
		span {
			position: relative;
			text-align: center;
			align-content: center;
			padding: $gutter;
		}
		&:hover {
			color: $accent;
			&::before {
				opacity: .85;
			}
		}
		&:nth-child(1) {
			grid-column: 1 / 3;
		}
		&:nth-child(5) {
			grid-column: 2 / 4;
		}
		&:nth-child(6) {
			grid-column: 4;
			grid-row: 2 / 4;
		}
	}
}
.buttoncase {
	grid-column: 1 / 5;
		text-align: center;
		padding: $gutter;
}
.container {
	max-width: 1200px;
	margin: auto;
	padding: 0 $gutter;
}

.landing-section {
	padding: 80px 0;
	h2 {
		font-size: 34px;
		font-weight: 800;
		color: $dark;
		line-height: 1.2;
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.section-ready {
	background-color: $light;
	.container {
		grid-template-columns: 1fr 1fr;
	}
	&__left {
		border-right: 1px solid #dadada;
		p {
			font-size: 18px;
			padding: $gutter 60px $gutter 0;
		}
		h2 {
			margin-top: 0;
			margin-bottom: 40px;
		}
	}
	&__right {
		padding-left: 40px;
	}
}

.formsection {
	padding: $gutter 0;
	background-color: $dark;
	input {
		background-color: lighten($dark, 6%);
	}
	form {
		gap: $gutter;
		grid-template-columns: repeat(4, 1fr);
	}
	.button {
		font-size: 17px;
		padding: 13px;
		width: 100%;
	}
}

input, textarea {
	border: 0;
	padding: 15px 20px;
	width: 100%;
	font-family: Arial, sans-serif;
	font-style: italic;
	outline: none;
	transition: background-color .25s ease;
	&:focus {
		background-color: $light;
	}
	&::placeholder {
		color: lighten($dark, 20%);
	}
}

.section-blog {
	h2 {
		margin-bottom: 45px;
	}
	.buttoncase {
		padding-bottom: 0;
	}
}
	
.blog-item {
	grid-template-columns: repeat(4, 1fr);
	gap: $gutter;
	&__link {
		background-color: #F7F7F7;
		text-decoration: none;
		grid-template-rows: 1fr 1fr;
		transition: background-color .25s ease;
		overflow: hidden;
		&:nth-child(3) {
			grid-column: 3 / 5;
		}
		&:nth-child(4) {
			grid-column: 1 / 3;
		}
		&:hover {
			background-color: $light;
			h4 {
				color: $dark;
			}
			img {
				transform: scale(1.05) translateY(-6.5px);
			}
		}
	}
	img {
		top: 0;
		left: 0;
		width: 100%;
		height: 250px;
		object-fit: cover;
		transition: transform .25s ease;
	}
	&__content {
		padding: $gutter;
		text-align: center;
		align-content: center;
		color: #333;
		h4 {
			font-size: 18px;
			line-height: 1.3;
			font-weight: bold;
			color: #666;
			transition: color .25s ease;
		}
		p {
			margin-top: $gutter;
			margin-bottom: 0;
		}
	}
}

.footer {
	padding: 60px 0;
	background-color: darken($dark, 8%);
	text-align: center;
	color: #4E5355;
	&__logo {
		font-family: intro-grid, sans-serif;
		font-size: 22px;
		line-height: 1.16;
		span {
			display: block;
			font-size: 27px;
			color: #707476;
		}
	}
	&__copyright {
		font-size: 20px;
		font-weight: bold;
		color: #494D50;
		margin-top: 20px;
	}
}

@import "media.scss";